html {
  font-size: 18px;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

P {
  font-size: 16px;
  line-height: normal;
}

span {
  font-size: 16px;
  font-weight: bold;
}

.desktop-header {
  border: 1px black solid;
  margin: 0 24px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-header {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  height: 32px;
  border: 1px black solid;
}

.logo img {
  height: 45px;
}

.logo span {
  font-weight: bold;
  font-size: 20px;
}

.logo .academy {
  color: silver;
}

.nav {
  font-size: 18px;
}
.nav a {
  text-decoration: none;
  color: black;
  margin-left: 16px;
}

.nav a:hover {
  color: silver;
}

.banner-desktop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: silver;
}

.banner-desktop img {
  max-width: 60%;
}

.banner-desktop img {
  margin: 32px 24px;
}

.headlines-desktop {
  max-width: 30%;
  color: dimgray;
}

.headlines-desktop h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 24px;
}

.headlines-desktop h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}

.headlines-desktop span {
  font-weight: bold;
  color: white;
  background-color: dimgray;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.headlines-desktop span:hover {
  color: black;
}

.banner-mobile {
  display: none; /*max-width 715px*/
}

.information-block-image-mobile {
  display: none;
}

.information {
  display: flex;
  align-items: flex-start;
  margin: 32px 0px 32px 24px;
}

.information-main {
  border: 1px solid black;
  max-width: 60%;
  margin-right: 24px;
}

.information-main img {
  max-width: 100%;
}

.information-main-description {
  max-width: 100%;
  margin: 0px 24px 32px 24px;
}

.information-main-description h1 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.information-main-description p {
  margin-bottom: 24px;
}


.information-secondary {
  max-width: 40%;
}

.information-block {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.information-block p {
  margin: 8px 0;
}

.information-block a {
  text-decoration: none;
}

.guest-lecture {
  background-color: silver;
}
.information-block-image-desktop {
  max-width: 35%;
  height: auto;
  margin: 16px;
}

.information-block-decription {
  max-width: 65%;
}

.course {
  border: 1px solid black;
  background-color: silver;
  padding: 32px 72px;
}

.course-headline {
  margin: 32px 0;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.course-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-block {
  border: 1px solid black;
  max-width: 30%;
  background-color: white;
}
.course-block img {
  height: auto;
  width: 100%;
}

.course-block:nth-child(3n) {
  margin-right: 0;
}

.course-block {
  margin-right: 32px;
}


.thesis-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.thesis-headline {
  text-align: center;
  font-size: 40px;
  margin: 32px 0;
  font-weight: bold;
}

.thesis-content-main {
  max-width: 60%;
  margin: 32px 24px;
}
.thesis-content-main video,
.thesis-content-main-description {
  max-width: 100%;

}

.thesis-content-second {
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
  margin: 32px 0px;
  border: 1px solid black;
}

.thesis-content-block {
  display: flex;
  align-items: center;
}

.fisma {
  background-color: silver;
}

.thesis-content-block img {
  max-width: 35%;
  height: auto;
  margin: 16px;
}
.thesis-content-block-description {
  max-width: 65%;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 16px 24px;
}

.footer-nav a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
}
