
/* universal style */

html {
  font-size: 18px;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.22rem;
}

h2 {
  font-size: 1.1rem;
}

p, span, a {
  font-size: 1rem;
  line-height: normal;
  font-weight: 200;
  color: black;
  text-decoration: none;
}

h1, h2 {
  font-weight: 500;
}

a {
  padding: 0.2rem 0.5rem;
}

/* for desktop screen */

/* header style */

header {
  background-color: #0f6db5;
}

.desktop-header {
  margin: 0 1.33rem;
  height: 3.55rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-header {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  height: 1.77rem;
}

.logo:hover .colmar {
  color: white;
}

.logo:hover .academy {
  color: #efbd31;
}

.logo img {
  height: 2.5rem;
}

.logo .academy {
  color: white;
}

.menu a {
  color: white;
  margin-left: 0.38rem;
  font-weight: 200;
}

.sign-in {
  background-color: #efbd31;
}


.menu a:hover,
.footer-menu a:hover {
  color: #0f6db5;
  background-color: white;
}

/* banner style */

.banner-desktop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #5b8bb1;
}

.banner-desktop img {
  max-width: 60%;
}

.banner-desktop img {
  margin: 1.77rem 1.5rem;
}

.banner-headlines-desktop {
  max-width: 30%;
  color: white;
}

.banner-headlines-desktop h1 {
  margin-bottom: 1.33rem;
}

.banner-headlines-desktop h2 {
  margin-bottom: 1.33rem;
}

.banner-headlines-desktop a {
  color: white;
  background-color: #efbd31;
  display: flex;
  justify-content: center;
  padding-top: 0.44rem;
  padding-bottom: 0.44rem;
  font-weight: 600;
}

.banner-headlines-desktop a:hover {
  color: #0f6db5;
  background-color: white;
}

.banner-mobile {
  display: none;
}

/* inforrmation style */

.information-block-image-mobile {
  display: none;
}

.information {
  display: flex;
  align-items: flex-start;
  margin: 1.77rem 0 1.77rem 1.33rem;
}

.information-main {
  max-width: 60%;
  margin-right: 1.33rem;
}

.information-main img {
  max-width: 100%;
}

.information-main-description {
  max-width: 100%;
  margin: 0 1.33rem 1.77rem 1.33rem;
}

.information-main-description h1 {
  margin-top: 1.77rem;
  margin-bottom: 1.33rem;
  background-color: #0f6db5;
  padding: 1rem;
  text-align: center;
  color: white;
}

.information-main-description h1:hover {
  color: white;
  background-color: #efbd31;
}

.information-main-description p {
  margin-bottom: 1.33rem;
}

.information-secondary {
  max-width: 40%;
}

.information-block {
  display: flex;
  align-items: center;
}

.information-block p {
  margin: 0.44rem 0;
}

.information-block a {
  color: blue;
  padding: 0.2rem 0.5rem;
}

.information-block a:hover {
  background-color: #006AFF;
  color: white;
}

.guest-lecture {
  background-color: #0f6db5;
  color: white;
}

.guest-lecture p {
  color: white;
}

.guest-lecture a {
  background-color: #efbd31;
  color: white;
  padding: 0.2rem 0.5rem;
}

.guest-lecture a:hover {
  background-color: white;
  color: #006AFF;
}


.information-block-image-desktop {
  max-width: 35%;
  height: auto;
  margin: 0.88rem;
}

.information-block-decription {
  max-width: 65%;
}

/* course style */

.course {
  background-color: #5b8bb1;
  padding: 0 4.5rem;
  margin-bottom: 1.77rem;
}

.course-headline {
  padding: 1.77rem 0;
  text-align: center;
  color: white;
}

.course-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-block {
  max-width: 30%;
  background-color: white;
  margin-right: 1.77rem;
  margin-bottom: 1.77rem;
}

.course-block img {
  height: auto;
  width: 100%;
}

.course-block:nth-child(3n) {
  margin-right: 0;
}

.course-block h2 {
  margin-top: 0.88rem;
}

.course-block p {
  margin: 0.44rem 0;
}

.course-block-description {
  margin: 0.88rem 0.88rem 1.33rem 0.88rem;
}

/* thesis style */

.thesis-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 1.77rem 0;
}

.thesis-headline {
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 1.77rem;
  color: black;
}

.thesis-headline:hover {
  color: #0f6db5;
}

.thesis-content-main {
  max-width: 60%;
  margin: 0 1.33rem;
}

.thesis-content-main video,
.thesis-content-main-description {
  max-width: 100%;
}

.thesis-content-main-description h2 {
  margin: 1.33rem 0 0.44rem 0;
}

.thesis-content-second {
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
}

.thesis-content-block {
  display: flex;
  align-items: center;
}

.fisma {
  background-color: #efbd31;
  color: white;
}

.fisma:hover, .fisma:hover p {
  background-color: #0f6db5;
  color: white;
}

.fisma p {
  color: white;
}

.thesis-content-block img {
  max-width: 35%;
  height: auto;
  margin: 0.88rem;
}

.thesis-content-block-description {
  max-width: 65%;
}

.thesis-content-block-description p {
  margin-top: 0.44rem;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0.88rem 1.33rem;
}

.footer-menu a {
  margin-left: 0.83rem;
}

.footer-menu a:hover {
  background-color: #0f6db5;
  color: white;
}

/* for mobile screen */

@media screen and (max-width: 370px) {

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 0.9rem;
    }

    p, span, a {
      font-size: 0.8rem;
    }

}

@media screen and (max-width: 900px) and (min-width: 850px) {

  html { 
    font-size: 16px;
 }

}

@media screen and (max-width: 850px) {

/* mobile header style */

  header {
    background-color: #efbd31;
  }

  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3.55rem;
  }

/* mobile banner style */

  .banner-desktop {
    display: none;
  }

  .banner-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .banner-mobile img {
    max-width: 100%;
  }

  .banner-headlines-mobile {
    max-width: 100%;
    background-color: #0f6db5;
    padding: 1.77rem 0.88rem;
    color: white;
  }

  .banner-headlines-mobile h1 {
    margin-bottom: 1.77rem;
  }

  .banner-headlines-mobile a {
    font-weight: bold;
    color: white;
    background-color: #efbd31;
    display: flex;
    justify-content: center;
    padding-top: 0.44rem;
    padding-bottom: 0.44rem;
    margin-top: 1.33rem;
    text-decoration: none;
  }

/* mobile information style */

  .information-block-image-desktop {
    display: none;
  }

  .information-block-image-mobile {
    display: block;
    max-width: 100%;
  }

  .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0.88rem 0.88rem 0 0.88rem;
  }

  .information-main {
    display: none;
  }

  .information-secondary {
    max-width: 100%;
  }

  .information-block {
    flex-direction: column;
    align-items: flex-start;
  }

  .information-block-description {
    padding: 3.55rem 0.88rem;
    max-width: 100%;
  }

  .guest-lecture {
    background-color: #006AFF;
  }

/* mobile course style */

  .course {
    padding: 0;
    background-color: white;
  }

  .course-block img {
    display: none;
  }

  .course-block p {
    display: none;
  }

  .course-headline {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0.88rem;
  }

  .course-content {
    flex-direction: column;
    margin: 0.88rem 0.88rem 1.77rem 0.88rem;
    justify-content: center;
  }

  .course-block {
    max-width: 100%;
    margin: 0;
    background-color: #efbd31;
    color: white;
    display: flex;
  }

  .course-block:nth-child(3) {
    border: 0.3rem solid #0f6db5;
  }

  .course-block h2 {
    margin: 0;
  }

  .course-block:nth-child(1n+2) {
    margin-top: 8px;
  }

/* mobile thesis style */

  .thesis-headline {
    margin-top: 1.77rem;
    margin-bottom: 0.88rem;
    color: #0f6db5;
  }

  .thesis-content {
    margin: 0 0 1.33rem 0;
  }

  .thesis-content-main {
    max-width: 100%;
    margin: 0;
  }

  .thesis-content-main-description {
    display: none;
  }

  .thesis-content-second {
    display: none;
  }

  .footer-menu {
    display: none;
  }

  .footer-copyright {
    padding: 0.88rem 0;
  }

}
