html {
  font-size: 18px;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

.desktop-header {
  border: 1px black solid;
  margin: 0 24px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-header {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  height: 32px;
  border: 1px black solid;
}

.logo img {
  height: 45px;
}

.logo span {
  font-weight: bold;
  font-size: 20px;
}

.logo .academy {
  color: silver;
}

.nav {
  font-size: 18px;
}
.nav a {
  text-decoration: none;
  color: black;
  margin-left: 16px;
}

.nav a:hover {
  color: silver;
}

.banner-desktop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: silver;
}

.banner-desktop img {
  max-width: 60%;
}

.banner-desktop img {
  margin: 32px 24px;
}

.headlines-desktop {
  max-width: 30%;
  color: dimgray;
}

.headlines-desktop h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 24px;
}

.headlines-desktop h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}

.headlines-desktop span {
  font-weight: bold;
  color: white;
  background-color: dimgray;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.headlines-desktop span:hover {
  color: black;
}

.banner-mobile {
  display: none; /*max-width 715px*/
}

.information-block-image-mobile {
  display: none;
}

.information {
  display: flex;
  align-items: flex-start;
  margin: 32px 0px 32px 24px;
}

.information-main {
  border: 1px solid black;
  max-width: 60%;
  margin-right: 24px;
}

.information-main img {
  max-width: 100%;

}

.information-main-description {
  width: 60%;
  margin: 0px 24px 32px 24px;
}

.information-secondary {
  max-width: 40%;
}

.information-block {
  display: flex;
  align-items: center;
  border: 1px solid black;
}
.information-block-image-desktop {
  max-width: 35%;
  height: auto;
  margin: 16px;
}

.information-block-decription {
  max-width: 65%;
}
